html {
    background-color: #FF6F59;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}

body {
    width: 900px;
    margin: 0 auto;
    background-color: #F7B1AB;
    padding: 0 20px 20px 20px;
    border: 2px solid antiquewhite;
}

h1 {
    margin: 0;
    color: #FF6F59;
    padding: 20px 5px 0 0;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
}

p,
li {
    font-size: 16px;
    line-height: 1;
}

ul {
    font-weight: 700;
}

#logo {
    display: block;
    height: 120px;
    /* allows quick centering, 0 margin top and bottom,
    auto margin width */
    margin: 0 auto;
}

a:hover {
    color: antiquewhite;
}


